/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    margin: 10px;
}

.row {
    display: flex;
    gap: 30px;
}

.restrict-width {
    width: fit-content;
}